.navbar-brand{
    font-family:'Times New Roman', Times, serif;
    font-size:45px;
    color: rgb(17, 23, 27);
}

.btn {
     padding: 12px 50px;
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
     border-radius: 0%;
     transition: all  ease-in .5s;
}

.btn-brand{
    background-color: #304438;
    color: #fff;

}
.btn-brand:hover{
border: solid 2px #304438;
}

.navbar .nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #304438;
    text-transform: uppercase;
}

#banner {
    background: url(img12.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner h1{
font-family: 'Times New Roman', Times, serif;
font-size: 70px;
}

#banner p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

section{
    padding: 100px;
}
.card{
    border-radius: 0%;
    margin-top: 20px;
    border: 3px solid #304438;
    padding: 20px;
}

.card .card-title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#home h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

#about .ngee{
    height: 60vh;
    background: url(IMG.3.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#about .eyyy{
    padding: 100px;
}
#about h2, #about h4 {
    font-family: 'Times New Roman', Times, serif;
}
#about {
    background-color: #f8e7c6;
}

.testimonial {
    border: 4px solid #222722;
    padding: 20px;
    margin-top: 20px;
}

.testimonial img {
    width: 75px;
    border-radius: 50%;
}

#FAQ {
    background: #222722;
}
#FAQ h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.FAQ-section {
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 0% !important;
}

.accordion-button {
    background-color: #ecebf1;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0% !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #080813;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-body {
    border-left: 3px solid #080813;
    padding: 10px 15px;
    margin-left: 0;
    background-color: #1c1919;

}

.accordion-button:not(.collapsed){
    background-color: #0d3b1f;
    color: #120553;

}

.accordion-button:hover {
    background-color: #080813;
    color: #fff;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #304438;
}
#footer ul.list-unstyled li a{
    color: #fff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a{
    color: #f8e7c6;
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }
    
    #about h2{
        font-size: 40px;
    }

    #Home .col-lg-3{
     display: flex;
     justify-content: center;
     align-items:center ;
     margin-bottom: 20px;
    }
   
    #about .eyyy{
        padding: 40px;
    }

    #about .ngee{
        padding: 300px;
    }

}

#about {
    overflow-x: hidden;
}